colorama==0.3.7
coreapi==2.1.1
Django==1.10.2
django-crispy-forms==1.6.1
django-filter==1.0.1
django-rest-swagger==2.1.0
djangorestframework==3.5.1
itypes==1.1.0
openapi-codec==1.2.1
python-dateutil==2.6.0
requests==2.12.4
simplejson==3.10.0
six==1.10.0
uritemplate==3.0.0

